@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?y6w1oz');
  src:  url('fonts/icomoon.eot?y6w1oz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?y6w1oz') format('truetype'),
    url('fonts/icomoon.woff?y6w1oz') format('woff'),
    url('fonts/icomoon.svg?y6w1oz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-settings:before {
  content: "\e900";
}
.icon-graph:before {
  content: "\e901";
}
.icon-graphic_eq:before {
  content: "\e902";
}
.icon-bar-chart-1:before {
  content: "\e903";
}
.icon-bar-chart:before {
  content: "\e904";
}
.icon-calendar:before {
  content: "\e905";
}
.icon-help-circle:before {
  content: "\e906";
}
.icon-briefcase:before {
  content: "\e907";
}
.icon-user-plus:before {
  content: "\e908";
}
.icon-home-1:before {
  content: "\e909";
}
.icon-users:before {
  content: "\e90a";
}
.icon-area-chart:before {
  content: "\e90b";
}
.icon-picture-file:before {
  content: "\e90c";
}
.icon-plus:before {
  content: "\e90d";
}
.icon-screen-full:before {
  content: "\e912";
}
.icon-list:before {
  content: "\e90e";
}
.icon-time:before {
  content: "\e90f";
}
.icon-target:before {
  content: "\e910";
}
.icon-home:before {
  content: "\e911";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-circle-right:before {
  content: "\ea42";
}
