$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "~@/assets/icons/fonts" !default;

$icon-settings: "\e900";
$icon-graph: "\e901";
$icon-graphic_eq: "\e902";
$icon-bar-chart-1: "\e903";
$icon-bar-chart: "\e904";
$icon-calendar: "\e905";
$icon-help-circle: "\e906";
$icon-briefcase: "\e907";
$icon-user-plus: "\e908";
$icon-home-1: "\e909";
$icon-users: "\e90a";
$icon-area-chart: "\e90b";
$icon-picture-file: "\e90c";
$icon-plus: "\e90d";
$icon-screen-full: "\e912";
$icon-list: "\e90e";
$icon-time: "\e90f";
$icon-target: "\e910";
$icon-home: "\e911";
$icon-file-empty: "\e924";

