$primary :rgb(82, 82, 84);
$secondary : hsl(225, 70%, 60%);
$info : #52d0e0;
$danger : #ec1616;
// $primary: #6f8f25;
// $secondary: #d6a54a;
$success: #d3f164;
$info: #df5a9c;
// $warning: #945707;
// $danger: #d62518;
// $light: #f8f9fa;
$dark: #000000;
$white : #ffffff;
$dark-primary:#101422;

//nav link color 
$border-color:#31354467;
$nav-link-color :  $white;
$nav-link-active-color : $white;
$nav-link-hover-color : $white;
$input-border-color:$border-color;
$input-focus-border-color:$primary;
$input-border-color:$border-color;

//progress bar design
$progress-bg:'none';
$progress-height:20px;
$progress-border-radius:0;

