*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: $font-family-base;
}

.brand-name,
header {
    height: 60px;
}

.user-image {
    height: 30px;
    width: 30px;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-link.router-link-active {
    color: $secondary;
    border: 2px solid $success;
    background-color: rgba($primary,0.1);
}

.sidebar {
    transition: all 0.5s;
}

.pointer {
    cursor: pointer;
}

.toggle-icon {
    display: none;
}

.chart {
    min-height: 380px;
    // max-height: 50%;
}

.chart.dounghnut-chart {
    min-height: 360px;
}