.nav-link {
    cursor: pointer;
    transition: all 0.4s;
    color: $primary;
    &:hover {
        color: $secondary;
    }
}
.sidebar {
        flex-basis: 60px;
        background: rgba($primary,0.1);
}
.nav-icon {
    font-size: 18px;
}
